<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="d-flex justify-content-center">
<img src="https://www.dropbox.com/s/m1oxfkmdhntasoe/banner.png?dl=1" alt="Chicago Booth Navigating the Grey" style="width:450px;height:150px;" >
</div>

<p></p>
<div class="d-flex justify-content-center">
<i>Click the images below to learn more about and register for the events.</i>
</div>
<p></p>


<div class="d-flex justify-content-center">
<a href="http://cglink.me/2cu/r1051990" target="_blank"><img src="https://www.dropbox.com/s/5emzs4kxgfsfxfh/panel.png?dl=1" alt="Entrepreneurship and Social Impact Panel Discussion" style="width:354px;height:200px;" ></a>
</div>
<p></p>

<div class="d-flex justify-content-center">
<a href="http://cglink.me/2cu/r1051995" target="_blank"><img src="https://www.dropbox.com/s/vifxfdi54imtuo5/lawrence.png?dl=1" alt="Lawrence E. Adjah" style="width:354px;height:200px;" ></a>
</div>
<p></p>

<div class="d-flex justify-content-center">
<a href="http://cglink.me/2cu/r1052002" target="_blank"><img src="https://www.dropbox.com/s/oi62vo17peljuhj/charisse.png?dl=1" alt='Charisse Conanan Johnson' style="width:354px;height:200px;" ></a>
</div>
<p></p>

<div class="d-flex justify-content-center">
<a href="http://cglink.me/2cu/r1051972" target="_blank"><img src="https://www.dropbox.com/s/uh79bthxurfdo2g/rowan.png?dl=1" alt="Barry Rowan" style="width:354px;height:200px;" ></a>
</div>