<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<p></p>
<div class="d-flex justify-content-center">
<img src="https://i.ibb.co/HBLhdTz/banner.png" alt="Chicago Booth Navigating the Grey" style="width:450px;height:150px;" >
</div>

<p></p>
<div class="d-flex justify-content-center">
<i>Click the images below to learn more about and register for the events.</i>
</div>
<p></p>


<div class="d-flex justify-content-center">
<a href="http://cglink.me/2cu/r1051990" target="_blank"><img src="https://i.ibb.co/qkHvWDZ/panel.png" alt="Entrepreneurship and Social Impact Panel Discussion" style="width:354px;height:200px;" ></a>
</div>
<p></p>

<div class="d-flex justify-content-center">
<a href="http://cglink.me/2cu/r1051995" target="_blank"><img src="https://i.ibb.co/JkjdwJt/lawrence.png" alt="Lawrence E. Adjah" style="width:354px;height:200px;" ></a>
</div>
<p></p>

<div class="d-flex justify-content-center">
<a href="http://cglink.me/2cu/r1052002" target="_blank"><img src="https://i.ibb.co/6nT31jX/charisse.png" alt='Charisse Conanan Johnson' style="width:354px;height:200px;" ></a>
</div>
<p></p>

<div class="d-flex justify-content-center">
<a href="http://cglink.me/2cu/r1051972" target="_blank"><img src="https://i.ibb.co/KsBdmzL/backup.png" alt="Barry Rowan" style="width:354px;height:200px;" ></a>
</div>