
<a href='http://cglink.me/2cu/r1051990'><img src='' alt='Entrepreneurship and Social Impact Panel Discussion' style="width:354px;height:200px;" ></a>

<a href='http://cglink.me/2cu/r1051995'><img src='' alt='Lawrence E. Adjah' style="width:354px;height:200px;" ></a>

<a href='http://cglink.me/2cu/r1052002'><img src='https://github.com/wfswee/ntg/blob/master/app/assets/images/charisse.png' alt='Charisse Conanan Johnson' style="width:354px;height:200px;" ></a>

<a href='http://cglink.me/2cu/r1051972'><img src='' alt='Barry Rowan' style="width:354px;height:200px;" ></a>