<img src="https://github.com/wfswee/ntg/blob/e5544caed2d6b91ac64ad9398e3b2a86b4c5a347/app/assets/images/ntg_banner.png" alt="Chicago Booth Navigating the Grey" style="width:354px;height:118px;" >

<a href="http://cglink.me/2cu/r1051990"><img src="https://github.com/wfswee/ntg/blob/e5544caed2d6b91ac64ad9398e3b2a86b4c5a347/app/assets/images/panel.png" alt="Entrepreneurship and Social Impact Panel Discussion" style="width:354px;height:200px;" ></a>

<a href="http://cglink.me/2cu/r1051995"><img src="https://github.com/wfswee/ntg/blob/e5544caed2d6b91ac64ad9398e3b2a86b4c5a347/app/assets/images/lawrence.png" alt="Lawrence E. Adjah" style="width:354px;height:200px;" ></a>

<a href="http://cglink.me/2cu/r1052002"><img src="https://github.com/wfswee/ntg/blob/e5544caed2d6b91ac64ad9398e3b2a86b4c5a347/app/assets/images/charisse.png" alt='Charisse Conanan Johnson' style="width:354px;height:200px;" ></a>

<a href="http://cglink.me/2cu/r1051972"><img src="https://github.com/wfswee/ntg/blob/e5544caed2d6b91ac64ad9398e3b2a86b4c5a347/app/assets/images/rowan.png" alt="Barry Rowan" style="width:354px;height:200px;" ></a>
